

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #2C3639;
}

body p, body button {
    font-family: "proxima-nova", sans-serif;
}

body h1, body h2, body h3 {
    font-family: "IBM Plex Sans Condensed", sans-serif;
}

.bg-primary {
    background-color: #82CD47;
}

#hero-section {
    background-color: black;
    height: 50vh;
    background-image: url("../images/hero-dog.jpg");
    background-position: left 0% top 50%;

    display: flex;
    color: white;
    justify-content: center;
    align-items: center;

}

#hero-section #hero-content {
    width: 80%;
}

#hero-section #hero-content h1, #hero-section #hero-content p {
    margin-top: 15px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.356);
}

#hero-section h1 {
    font-size: 3.5em;
    color: #82CD47;
}
#hero-section p {
    font-size: 1.3em;
    width: 50%;
}

#hero-section #hero-content #hero-buttons {
    width: 50%;
    display: flex; 
    column-gap: 30px;
    margin-top: 40px;
}
#hero-section #hero-content #hero-buttons > button {
    padding: 10px 15px;
    font-size: 1em;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 25%;
}

#hero-section #hero-content #hero-buttons #hero-button-secondary {
    border: 2px solid white;
    background-color: transparent;
    color: white;
}


#our-food {
    background-image: url("../images/food.jpg");
    height: 50vh;
    background-position: center;
    background-size: cover;

    position: relative;
}

#our-food .color-overlay {
    position: absolute;
    background-color: #4287f532;
    z-index: 3;
    height: 100%;
    width: 100%;
}

#our-food-content {
    z-index: 4;
}

#footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    column-gap: 30px;

    z-index: 5;
}