* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body p, body button {
    font-family: "proxima-nova", sans-serif;
}

body h1, body h2, body h3 {
    font-family: "IBM Plex Sans Condensed", sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

#menu-nav {
    position: relative;

    width: 100%;
    color: black;
    background-image: url("../images/rentAFriendBanner.jpg");
    background-size: contain;
    justify-content: space-around;
}

#menu-nav .links a {
    color: black;
}
#menu-nav .links a:hover {
    border-bottom-color: black;
}

#menu-container {

}

#menu-hero-section {
    height: 40vh;
    background-image: url("../images/menu-hero-food-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;

    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.356);
}

#menu-container #menu-hero-section .menu-hero_content {
    width: 100%;
    background-color: #3F4E4F;
    padding: 30px;
    text-align: center;
    font-size: 1.3em;
}

#menu-container #menu-hero-section .menu-hero_content h1 {
    font-size: 3.2em;
}

.total-menu-sections {
    width: 80%;
    margin: 20px auto 0;
    display: flex;
}

.total-menu-sections > div {
    width: 50%;
}

.specials-container {
    padding: 30px 0 0 50px;

}

.menu-sections-container {
    border-right: 1px solid lightgrey;
    padding-right: 50px;
}

/* start of menu cards */

.menu-cards-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.menu-section {
    margin-top: 30px;
}

.menu-cards-container .menu-card {
    display: flex;
    column-gap: 30px;

    border-top: 1px solid lightgrey;
    padding-top: 10px;
}

.menu-cards-container .menu-card .menu-card_content {

}

.menu-cards-container .menu-card img {
    width: 100px;
    aspect-ratio: 1 / 1;

    border-radius: 3px;
}

.specials-container > h2 {
    font-size: 2em;
}

.special-cards-container {
    margin-top: 30px;
}
.special-cards-container .special-card {
    margin-bottom: 30px;
}

.special-cards-container .special-card .special-card_content {
    margin-top: 10px;
}

.special-cards-container .special-card .special-card_image {
    background-size: cover;
    background-position: center;
    height: 200px;

    border-radius: 3px;
}

.special-cards-container .special-card .special-card_description {
    margin-top: 5px;
}

.special-cards-container > .special-card:nth-child(even) {
    text-align: right;
}

.menu-cards-container .menu-card .dish-image {
    width: 100px;
    aspect-ratio: 1 / 1;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 3px;
}

#all-natural-image {
    background-image: url("../images/all-natural-meal.jpg");
}

#sandwich-image {
    background-image: url("../images/sandwhich.jpg");
}

#vegan-image {
    background-image: url("../images/vegan.jpg");
}

#pizza-one {
    background-image: url("../images/menu/sausage-pizza.jpg");
}
#pizza-two {
    background-image: url("../images/menu/broc-pizza.jpg");
}
#pizza-three {
    background-image: url("../images/menu/vegan-pizza.jpg");
}

#drink-one {
    background-image: url("../images/menu/fancy-orange-drink.jpg");
}
#drink-two {
    background-image: url("../images/menu/berry-drink.jpg");
}
#drink-three {
    background-image: url("../images/menu/berry-smoothie.jpg");
}

#side-one {
    background-image: url("../images/menu/potato-side.jpg");
}
#side-two {
    background-image: url("../images/menu/spicy-potato-side.jpg");
}
#side-three {
    background-image: url("../images/menu/bean-side.jpg");
}


#footer {
    margin-top: 50px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;

    background-color: #2C3639;

    color: white;
    padding: 30px 0;
}

#footer a {
    font-family: proxima-nova, sans-serif;
}

#insta:hover {
    color: #E1306C;
}

#meta:hover {
    color: #5585e6;
}

#join:hover {
    color: #82CD47;
}