* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    

}
body{
    background-color: #2C3639;
}
.mainContainer{
    width: 80%;
    margin: 0 auto;
}

#rentAFriendNav{
    color:black;
    background-image: url("../images/rentAFriendBanner.jpg");
    background-size:contain;
   
}
#rentAFriendNav a{
    color:black;
}


.rentAFriendHeader{
    margin-top: 200px;
    padding:20px 0px;
    text-align: center;
    color: white;
   
}
.rentAFriendHeader h1{
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    background-color: #3F4E4F;
    font-size: 50px;
    text-shadow: 2px 2px black;
    
}
.rentAFriendHeader h2{
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    background-color: #DCD7C9;
    font-size: 30px;
    text-shadow: 1px 1px black;
}
.rentAFriendBody{
    padding:50px 0px;
    text-align: center;
    color: white;

}

.rentAFriendBody h1{
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    background-color: #DCD7C9;
    font-size: 50px;
    text-shadow: 2px 2px black;
    
}
.rentAFriendBody p{
    margin-top: 10px;
    padding:30px;
    font-size: 25px;
    background-color: #A27B5C;
    font-family: 'proxima-nova',sans-serif;
}
.clickDogGroup h2{
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    background-color: #3F4E4F;
    font-size: 50px;
    text-shadow: 2px 2px black;
    color:white;
    text-align: center;
}
.clickDogImages{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.clickDogImages img{
    width:400px;
    height: 400px;
}
.dogBios{
    display: flex;
    flex-direction: column;
}
#meetLucy{
    display: flex;
    justify-content: space-between;
}

#meetLucy img{
    width:400px;
    height: 400px;
    

}
#meetKenobi{
    display: flex;
    justify-content: space-between;
}
#meetKenobi img{
    width:400px;
    height: 400px;
}
#meetAbby{
    display: flex;
    justify-content: space-between;
}
#meetAbby img{
    width:400px;
    height: 400px;
}

